extends _layout.pug

block content
  form(action='/challenge' method='POST')
    h1= name
    h2 Do you accept to participate to this challenge ?
    input(type='radio' id='answer-yes' name='answer' value='yes' checked)
    label(for='answer-yes') Yes
    br
    input(type='radio' id='answer-no' name='answer' value='no')
    label(for='answer-no') No
    p.error= error
    button(type='submit') Submit
