extends _layout.pug

block content
  form(action='/' method='POST')
    input(type='text' name='account' value=account placeholder='Enter client identifier')
    br
    input(type='text' name='code' value=code placeholder='Enter activation code')
    p.error= error
    button(type='submit') Continue
