extends _layout.pug

block content
  h1.name Dear "#{name}",
  form(action='/password' method='POST')
    h2 enter the password you received by mail
    input(type='password' name='password' value=password)
    p.error= error
    button(type='submit') Continue
